<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear nueva cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="login-container">

        <h1>{{ text["createAccountTitle"] }}</h1>

        {% if error %}
            <p style="color: red; font-weight: bold;">{{ error }}</p>
        {% endif %}

        <form action="{{ url_for('create_account') }}" method="post">
            <label for="currency">{{ text["example"] }}</label><br>
            <input type="text" id="currency" name="currency" required><br><br>

            <label for="balance">{{ text["putInitialBalance"] }}</label><br>
            <input type="number" id="balance" name="balance" step="0.01" value="0.00" required><br><br>

            <button type="submit">{{ text["confirm"] }}</button>
        </form>

        <br>
        <form action="{{ url_for('welcome') }}" method="get">
            <button type="submit">{{ text["backToWelcome"] }}</button>
        </form>
    </div>
    
</body>
</html>